[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/mlpack"]
	path = source/mlpack
	url = https://github.com/mlpack/mlpack
[submodule "source/armadillo"]
	path = source/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code
