[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/mlpack"]
	path = source/mlpack
	url = https://github.com/mlpack/mlpack
[submodule "source/cereal"]
	path = source/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "source/ensmallen"]
	path = source/ensmallen
	url = https://github.com/mlpack/ensmallen.git
[submodule "source/armadillo-code"]
	path = source/armadillo-code
	url = https://gitlab.com/conradsnicta/armadillo-code.git
